html{
    font-size: 12px;
}
html,body,ul,li,h1,h2,h3,h4,h5,h6,p,form,input,fieldset,legend,img,dt,dd,dl{
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6{
    font-size: 16px;
    font-weight: normal;
}
ul,ol,li{
    list-style: none;
}
a,u{
    text-decoration: none;
    color: #000;
}
i,em{
    font-style: normal;
}
b,strong{
    font-weight: normal;
}
img{
    display: block;
    border:0;
}
input{
    border:0;
    outline: none;
}
.clearfix{
    zoom:1;
}
.clearfix::after{
    content: ".";
    height: 0;
    clear: both;
    display: block;
    overflow:hidden;
    visibility: hidden;
}
.bd{
    width: 100%;
    height: 100%;
}
/* 头部 */

.header-ad{
    min-width: 1200px;
    height: 90px;
    overflow: hidden;
    margin: 0 auto;
}
.header-ad-main{
    width: 1200px;
    height: 90px;
    margin: 0 auto;
    position: relative;
}
.header-ad-banner{
    display: block;
    position: relative;
    width: 1920px;
    height: 90px;
    text-align: center;
    left: 50%;
    margin-left: -960px;
}
.header-ad-banner img{
    font-size: 0;
}
.header-ad-close{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 10px;
    background: url(../images/icon1.png) 0 -385px;
}
.header-href{
    width: 100%;
    height: 30px;
}
.header-hr-main{
    width: 1200px;
    height: 30px;
    margin: 0 auto;
}
.left-smallnav{
    float: left;
}
.right-smallnav{
    float: right;
}
.left-smallnav ul li,.right-smallnav ul li{
    float: left;
    height: 100%;
    height: 30px;
    line-height: 30px;
    position: relative;
}
.left-smallnav ul li::before,.right-smallnav ul li::before{
    content: "";
    width: 1px;
    height: 10px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0px;
    background: #e4e4e4;
}
.left-smallnav ul li a,.right-smallnav ul li a{
    padding: 0 8px;
    color: #a4a4a4;
}
.left-smallnav ul li a:hover,.right-smallnav ul li a:hover{
    color:rgb(202,21,29);
}
.left-smallnav .left-smallnav-first{
    padding-left: 0;
}
.left-smallnav ul li:first-child::before,.right-smallnav ul li:first-child::before{
    content: "";
    width: 0;
    height: 10px;
}
.app-download a,.get-more a{
    padding-right: 2px!important;
}
.li-con{
    line-height: 26px;
    border: 1px solid rgba(0,0,0,0);
    position: relative;
    top: 0;
    z-index: 100;
}
.left-smallnav i,.right-smallnav i{
    color: #a4a4a4;
}
.qr-download{
    width: 162px;
    height: 140px;
    position: absolute;
    top: 28px;
    right: 0px;
    display: none;
    margin: 0;
    padding:0;
    z-index: 10;
    background: #fff;
    border: 1px solid rgba(121,121,121,0.26);
}
.qr-download img{
    margin: 30px auto 2px;
}
.qr-download p{
    font-size: 14px;
    text-align: center;
    color: rgb(58,58,58);
}
.app-download:hover .li-con{
    border: 1px solid rgba(121,121,121,0.26);
    border-bottom: 1px solid #fff;
}
.right-shop:hover .li-con{
    border: 1px solid rgba(121,121,121,0.26);
    border-bottom: 1px solid #fff;
}
.app-download:hover .qr-download{
    display: block;
    border: 1px solid rgba(121,121,121,0.26);
}
.app-download:hover .shopcar{
    display: block;
    border: 1px solid rgba(121,121,121,0.26);
}
.icon-s{
    display: none;
}
.right-shop:hover .icon-x{
    display: none;
}
.right-shop:hover .icon-s{
    display: inline-block;
}


.more-list,.shopcar{
    width: 162px;
    height: 140px;
    position: absolute;
    top: 28px;
    right: 0px;
    display: none;
    margin: 0;
    padding:0;
    background: #fff;
    z-index: 10;
    border: 1px solid rgba(121,121,121,0.26);
}
.more-list img{
    margin: 30px auto 2px;
}
.shopcar{
    width: 460px;
    height: 230px;
    display: none;
}
.more-list p{
    font-size: 14px;
    text-align: center;
    color: rgb(58,58,58);
}
.get-more:hover .li-con{
    border: 1px solid rgba(121,121,121,0.26);
    border-bottom: 1px solid #fff;
}
.get-more:hover .more-list{
    display: block;
    border: 1px solid rgba(121,121,121,0.26);
}
.right-shop:hover .shopcar{
    display: block;
    border: 1px solid rgba(121,121,121,0.26);
}
.icon-s{
    display: none;
}
.get-more:hover .icon-x{
    display: none;
}
.get-more:hover .icon-s{
    display: inline-block;
}
.more-list ul{
    width: 144px;
    height: 128px;
    padding: 8px;
}
.more-list ul li{
    width: 100%;
    text-align: center;
}
.shopcar p{
    color: #a4a4a4;
    text-align: center;
}
/* 头部 */
/* 导航 */
.nav{
    width: 100%;
    height: 50px;
    padding: 10px 0 10px;
}
.nav-content{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
}
.logo{
    width: 240px;
    height: 50px;
    float: left;
    position: relative;
}
.logo img{
    position: absolute;
    z-index: 100;
}
.logo strong{
    position: absolute;
    z-index: 0;
    font-size: 0px;
    color: rgba(0,0,0,0);
}
.nav-tab{
    width: 505px;
    height: 40px;
    float: left;
    margin: 5px 0 5px 40px;
}
.nav-tab ul li{
    float: left;
    margin-right: 18px;
}
.nav-tab ul li:hover{
    border-bottom: 2px solid #ca141d;
}
.nav-tab ul li a{
    font-size: 16px;
    color: #3a3a3a;
    line-height: 40px;
}
.nav-tab ul li a:hover{
    color: #ca141d;
}
.nav-search{
    width: 328px;
    height: 32px;
    float: right;
    position: relative;
    border: 1px solid #ddd;
}
.nav-search input{
    float: left;
}
.search-text{
    width: 285px;
    padding:0 0 0 15px;
    height: 32px;
    border: 0;    
}
.search-sub{
    width: 28px;
    height: 32px;
    background: url(../images/icon-common.png) 0 -21px;
    cursor: pointer;
}
.search-text:focus,.search-sub:focus{
    outline: none;
}
.tips{
    float: left;
    position: absolute;
    top: 3px;
    left: 5px;
}
.tips a{
    position: relative;
    top: 5px;
    color: rgb(164,164,164);
    background: rgb(245,245,245);
    padding:3px;
}
.tips a:hover{
    color: #ca141d;
}
/* 导航 */
/* 轮播图 */
.slider-section{
    min-width: 1200px;
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
}
.slider-section-content{
    width: 1200px;
    height: 450px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.slider-section-content .slider{
    position: absolute;
    width: 1920px;
    height: 450px;
    left: 50%;
    margin-left: -960px;
}
.slider  .swiper-pagination-bullet{
    border-radius:10px;
    border:1px solid #fff;
    height: 10px;
    margin-left: 10px;
    width: 10px;
    opacity: 1;
    background: transparent;
}
.slider  .swiper-pagination-bullet-active{
    background: #fff;
}
.slider .swiper-pagination-bullet-active:focus {
    outline: none;
}
/*.slider ul li a{
    width: 1920px;
    height: 450px;
}*/
.left-navlist{
    position: absolute;
    z-index: 100;
    width: 240px;
    height: 450px;
    background: rgba(0,0,0,.6);
}
.left-navlist>ul>li{
    height: 75px;
    font-size: 14px;
}
.left-navlist >ul>li:hover{
    background: #3a3a3a;
}
.left-navlist ul li:hover .nav-del a{
    color: #fff;
}
.left-navlist >ul>li:hover .list-detail{
    display: block;
}
.nav-del{
    width: 208px;
    height: 55px;
    padding:10px  0px 0px 10px;
}
.nav-del div{
    padding: 5px 0;
}
.nav-del a{
    padding: 0 5px;
    color: rgb(153,153,153);
}
.det-title{
    width: 580px;
    height: 30px;
    border-bottom: 1px solid rgb(234,234,234);
    padding: 20px 28px 20px 40px ;
}
.det-title p{
    color: #ca141d;
    float: left;
}
.det-title i{
    color: #ca141d;
    float: right;
}
.list-detail{
    width: 648px;
    height: 448px;
    position: absolute;
    background: #fff;
    top: 0;
    display: none;
    left: 240px;
    border: 1px solid #ddd;
}
.det-list{
    width: 580px;
    padding: 36px 28px 0 40px;
}
.det-list ul li{
    float: left;
    margin-right: 30px;
    padding-bottom: 36px;
}
.det-list ul li a:hover{
    color: #ca141d;
}
.det-show{
    width: 648px;
    height: 237px;
}
.det-show ul li{
    width: 161px;
    height: 237px;
    float: left;
    border-top: 1px solid rgb(234,234,234);
    border-left: 1px solid rgb(234,234,234);
}
.det-show ul li:hover{
    border-top: 0;

}
.det-show ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.det-show ul li img{
    width: 118px;
    height: 118px;
    margin: 15px auto;
}
.det-show ul li p{
    text-align: center;
    padding: 10px 0;
}
.price{
    color: #ca141d;
}
/* 轮播图 */
/* 内容部分 */
.section{
    width: 100%;
    background: rgb(245,245,245);
}
.mid-profile{
    width: 1200px;
    height: 98px;
    margin: 0 auto;
    background: #fff;
}
.mid-profile>ul>li{
    float: left;
}
.mid-login{
    width: 288px;
    height: 72px;
    margin: 13px 0;
    border-right: 1px solid rgb(234,234,234);
}
.avator img{
    width: 59px;
    height: 59px;
    float: left;
}
.avator,.login-con{
    float: left;
}
.login-con{
    width: 168px;
    height: 64px;
    padding-left: 20px;
}
.login-con p{
    color: #666;
    margin-bottom: 8px;
}
.login-con p a{
    text-decoration: underline;
}
.login-con p a:hover{
    color: #ca141d;
}
.login-con>a{
    display: block;
    width: 60px;
    height: 18px;
    color: #ca141d;
    border: 1px solid #ca141d;
    line-height: 18px;
    float:left;
    margin-right: 10px;
    text-align: center;
}
.login-con>a:hover{
    background: #ca141d;
    color: #fff;
}
.mid-active{
    width: 603px;
    height: 72px;
    margin: 13px 0;
    border-right: 1px solid rgb(234,234,234);
}
.mid-active>ul>li{
    width: 100px;
    height: 72px;
    float: left;
}
.mid-active>ul>li>a>div{
    width: 40px;
    height: 40px;
    margin: 10px 30px 3px;
    background: url(../images/127bb15656845473af220df1aae91462.png)
}
.mid-active .bg1{
    background: url(../images/127bb15656845473af220df1aae91462.png) -40px 0px;
}
.mid-active .bg2{
    background: url(../images/127bb15656845473af220df1aae91462.png) -80px 0px;
}
.mid-active .bg3{
    background: url(../images/127bb15656845473af220df1aae91462.png) -1200px 0px;
}
.mid-active .bg4{
    background: url(../images/127bb15656845473af220df1aae91462.png) -160px 0px;
}
.mid-active .bg5{
    background: url(../images/127bb15656845473af220df1aae91462.png) -200px 0px;
}
.mid-active>ul>li>a{
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
}
.mid-active>ul>li>a:hover{
    color: #ca141d;
}
.pub-title{
    width: 58px;
    height: 48px;
    font-size: 16px;
    text-align: center;
    line-height: 48px;
    font-weight: bold;
    color: #ca141d;
    float: left;
}
.news_slider{
    width: 243px;
    height: 48px;
    float: left;
}
.news_slider a{
    color: #333;
}
.news_slider a:hover{
    color: #ca141d;
}
.public-top{
    border-bottom: 1px solid rgb(234,234,234);
}
.public-top ul{
    width: 243px;
    height: 48px;
    line-height: 48px;
}
.public-down ul li{
    width: 100px;
    height: 48px;
    float: left;
}
.public-down ul li a:hover{
    color: #ca141d;
}
.public-down ul li span{
    display: block;
    float: left;
    line-height: 48px;
}
.pub-pic{
    margin: 14px 5px 14px 20px;
    width: 20px;
    height: 20px;
    background: url(../images/127bb15656845473af220df1aae91462.png) -240px 0px;
}
.pic1{
    background: url(../images/127bb15656845473af220df1aae91462.png) -260px 0px;
}
.pic2{
    background: url(../images/127bb15656845473af220df1aae91462.png) -280px 0px;
}

.shop-show{
    width: 1200px;
    height: 160px;
    margin: 0 auto;
}
.shop-show ul li{
    width: 291px;
    height: 160px;
    float: left;
    margin: 0 6px;
}
.shop-show ul li:first-child{
    margin-left: 0;
}
.shop-show ul li:last-child{
    margin-right: 0;
}
.sort-section{
    width: 1200px;
    margin: 0 auto;
}
.sort-section h2{
    padding: 30px 0 15px 0;
    color:#3a3a3a;
    font-size: 22px;
}
.sotr-section-content{
    width: 1200px;
    height: 590px;
}
.hot-left{
    float: left;
    width: 232px;
}
.hot-right{
    float: left;
    width: 968px;
    height: 600px;
}
.hot-right ul li{
    float: left;
    width: 232px;
    height: 290px;
    background: #fff;
    margin:0 0 10px 10px;
}
.hot-right ul li p{
    text-align: center;
    line-height: 25px;
    color: rgb(71,71,71);
}
.phone-pic{
    width: 148px;
    height: 148px;
    margin: 28px auto;
    position: relative;
}
.phone-p{
    text-align: center;
    width: 148px;
    height: 148px;
}
.hot-status{
    text-align: center;
    

    width: 48px;
    height: 48px;
    position: absolute;
    right: -12px;
    bottom: -12px;
}
.grid-desc{

    color: #a4a4a4!important;
}
.phone-price{
    color: #ca141d!important;
}
.recom{
    width: 1200px;
}
.recom{
    width: 1200px;
    height: 290px;
    margin: 20px auto;
}

.usual li{
    width: 217px;
    height: 290px;
    background: #fff;
}
.usual li p{
    text-align: center;
    line-height: 25px;
    color: rgb(71,71,71);
}
.recom .page-prev,.recom .page-next{
    width:22px;
    height: 75px;
    background-color: #f0f0f0; 
    cursor: pointer;
}
.recom .page-prev:focus,.recom .page-next:focus{
    outline: none;
}
.recom .page-prev{
    position: absolute;
    left: 0;
    z-index: 10;
    top: 107px;
}
.ileft{
    display: block;
    width: 11px;
    height: 16px;
    margin: 28px auto;
    background-image: url(../images/icon-common.png);
    background-position: -101px -1px;
}
.recom .page-next{
    position: absolute;
    right: 0;
    z-index: 10;
    top: 107px;
}
.iright{
    display: block;
    width: 11px;
    height: 16px;
    margin: 28px auto;
    background-image: url(../images/icon-common.png);
    background-position: -112px -1px;
}
.mid-slider{
    width: 1200px;
    height: 120px;
    position: relative;
    margin: 20px auto!important;
}
.mid-slider .swiper-pagination{
    left:30%!important;
}
.phone-section{
    width: 1200px;
    margin: 20px auto;
}
.phone-title{
    width: 100%;
    height: 38px;
    margin: 22px 0 12px 0;
}
.phone-title h2{
    font-size: 22px;
    line-height: 38px;
    float: left;
}
.phone-tab{
    float: left;
    margin-left: 30px;
}
.phone-tab ul li{
    float: left;
    margin: 0 10px;
}
.phone-tab ul li a{
    display: block;
    color: #3a3a3a;
    font-size: 16px;
    line-height: 38px;
}
.phone-tab ul li a:hover{
    color: #ca141d;
    border-bottom: 2px solid #ca141d;
}
.phone-getmore{
    float: right!important;
}
.phone-getmore a{
    font-size: 18px;
    line-height: 38px;
}
.phone-getmore a:hover{
    color: #ca141d;
}

.temple-ul{
    width: 1200px;
    margin: 0 auto;
}
.temple-ul li{
    width: 291px;
    height: 346px;
    float: left;
    margin: 10px 0 0 8px;
    background: #fff;
}
.temple-ul li p{
    text-align: center;
    line-height: 30px;
}
.tem-status{
    position: absolute;
    right: -10px;
    bottom: -10px;
}
.tem-pic{
    width: 178px;
    height: 178px;
    margin: 36px auto;
    position: relative;
}
.tem-p{
    width: 178px;
    height: 178px;
}
#other{
    width: 594px;
}
#other img{
    width: 594px;
}
.down-ad-f1{
    width: 1200px;
    margin: 20px auto;
}
.down-ce{
    width: 100%;
    height: 140px;
    margin: 60px auto 0;
    background: #f0f0f0;
}
.down-main{
    width: 1200px;
    margin: 0 auto;
    padding-top: 46px

}
.down-main li{
    height: 47px;
    width: 300px;
    float: left;
}
.down-main a{
    line-height: 47px;
    font-size: 18px;
}
.down-main i{
    display: inline-block;
    float: left;
    width: 47px;
    height: 47px;
}
.down-main span{
    display: inline-block;
    line-height: 47px;
    padding-left: 20px;
    float: left;
}
.bg-i1{
    background: url(../images/icon-common.png) 0 -151px;
}
.bg-i2{
    background: url(../images/icon-common.png) -94px -151px;
}
.bg-i3{
    background: url(../images/icon-common.png) -141px -151px;
}
.bg-i4{
    background: url(../images/icon-common.png) -47px -151px;
}
/* 内容部分 */

/* 底部 */
footer{
    width: 100%;
    background: #f0f0f0;
}
.footer-content{
    width: 1200px;
    height: 170px;
    padding: 26px 0 18px 0;
    margin: 0 auto;
}
.footer-left>ul>li{
    width: 157px;
    float: left;
}
.footer-left a,.small-list em{
    color:#3a3a3a;
    line-height: 24px;
}
.footer-left a:hover{
    color: #ca141d;
}
.about{
    width: 22px;
    height: 2px;
    background: rgb(168,168,168);
}
.small-list li:first-child{
    height: 46px;
    font-size: 14px;
}
.small-list li:first-child p:last-child{
    margin-top: 10px;
}
.phone-number{
    font-size: 22px;
}
.kserver{
    background: #fff;
    border-radius: 3px;
    margin-top: 15px;
    display: block;
    width: 163px;
    height: 37px;
    border: 1px solid rgb(210,210,210);
}
.kserver i,.kserver span{
    float: left;
}
.kserver span{
    margin: 5px 0 0 10px;
    color: #ca141d;
}
.kserver i{
    display: block;
    width: 22px;
    height: 18px;
    margin: 10px 0 0 30px;
    background: url(../images/icon-common.png) -101px -23px;
}
.footer-down{
    width: 100%;
    height: 101px;
    background: rgb(230,230,230);
}
.footer-down-main{
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    padding-top:26px;
}
.footer-down-main ul li{
    float: left;
}
.footer-down-main ul li:first-child a{
    display: block;
    padding: 20px 38px 0 0 ;
}

.footer-down-main ul li:nth-child(2) p,.footer-down-main ul li:nth-child(2) a{
    line-height: 20px;
    color: #a4a4a4;
}
.footer-down-main ul li:nth-child(2) a:hover{
    color: #ca141d; 
}
.footer-down-main ul li:nth-child(3){
    width: 296px;
    height: 24px;
    padding-top: 15px;
    float: right;
}
.friendhr{
    display: block;
    float: left;
    width: 70px;
    margin-left: 4px;
    height: 24px;
}
.fh1{
    background: url(../images/20160226162415360.png)
}
.fh2{
    background: url(../images/20160226162521265.png)
}
.fh3{
    background: url(../images/20180522101715775.jpg)
}
.fh4{
    background: url(../images/20180626164548324.png)
}
/* 底部 */
/* 登录弹窗 */
.login-window{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
    background: rgba(0,0,0,.3);
}
.login{
    width: 500px;
    height: 636px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -318px 0 0 -250px;
    background: #fff;
}
.login-move{
    width: 500px;
    height: 30px;
    cursor: move;
    background: #ca141d;
}
.login-content{
    width: 100%;
    height: 550px;
}
.login-tem{
    width: 380px;
    height: 530px;
    margin: 3px auto;
    overflow: hidden;
}
.login-title{
    width: 380px;
    height: 20px;
    margin:24px auto;
}
.login-title span{
    display: block;
    float: left;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #333;
    cursor: pointer;
}
.account{
    width: 190px;
}
.qr-login{
    width: 189px;
    border-left: 1px solid #ccc;
}
.login-title .mode-sel,.login-title span:hover{
    color: #B40707;
}
.login-form{
    width: 328px;
    height: 259px;
    margin: 0 auto;
}
.selfcolor::-webkit-input-placeholder{
            color:rgb(204,204,204);
}
.selfcolor::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:rgb(204,204,204);
}
.selfcolor:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:rgb(204,204,204);
}
.selfcolor:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:rgb(204,204,204);
}

.login-item{
    width: 328px;
    height: 46px;
}
.user,.pwd{
    width: 328px;
    height: 45px;
    border-bottom: 1px solid #ccc;
}
.phone-ver{
    display: block;
    width: 11px;
    height: 15px;
    float: left;
    margin-right: 6px;
    background: url(../images/ic_smsLogin.png) -2px 0;
}
.ver-content{
    padding: 15px 0;
    cursor: pointer;

}
.msg-phone{
    cursor: pointer;
    float: left;
    color: rgb(0, 125, 255);
}
.tologin{
    width: 328px;
    height: 46px;
    border-radius: 23px;
    color: #fff;
    background: #B40707;
}
.rm-left{
    padding: 14px 0;
    float: left;
}
.rm-left span{
    float: left;
    line-height: 18px;
    color: #333;
}
.rm-right{
    cursor: pointer;
    padding: 14px 0;
    float: right;
    line-height: 18px;
    color: rgb(0, 125, 255);
}
.selected{
    cursor: pointer;
    float: left;
    display: block;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    margin-right: 6px;
    background: url(../images/tick-off.png);
    background-size: cover;
}
.down-help{
    height: 12px;
    text-align: center;
}
.down-help em{
    line-height: 12px;
    padding: 0 10px;
    color: #ccc;
}
.down-help a{
    line-height: 12px;
    color: rgb(0, 125, 255);
}
.other-way{
    width: 328px;
    height: 82px;
    margin: 120px auto;
}
.other-title{
    width: 328px;
    height: 18px;
}
.border-left,.border-right{
    width: 94px;
    height: 1px;
    float: left;
    margin-top: 8px;
}
.tel-mid{
    width: 92px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    float: left;
    color: #ccc;
}
.border-left{
    margin-left: 24px;
    background: url(../images/thirdLine.png);
}
.border-right{
    background: url(../images/thirdLine-reverse.png);
}
.other-con{
    width: 328px;
    height: 42px;
    margin-top: 10px;
    text-align: center;
}
.other-con span{
    display: inline-block;
    width: 42px;
    height: 42px;
    padding: 0 10px;
}
.other-con a{
    display: block;
    width: 42px;
    height: 42px;
}
.qq{
    background: url(../images/third_login.png) -72px -9px;
}
.qq:hover{
    background: url(../images/third_login.png) -72px -55px;
}
.alipay{
    background: url(../images/third_login.png) -132px -9px;
}
.alipay:hover{
    background: url(../images/third_login.png) -132px -55px;
}
.wechat{
    background: url(../images/third_login.png) -12px -9px;
}
.wechat:hover{
    background: url(../images/third_login.png) -12px -55px;
}

.qr-content{
    width: 380px;
    height: 364px;
    margin:0 auto;
}
.qr-img-det{
    position: relative;
    width: 380px;
    height: 318px;
}
.qrimg{
    position: absolute;
    z-index: 10;
    width: 150px;
    height: 150px;
    padding: 5px;
    border:1px solid #999;
    top:78px;
    left:109px;
    background: #fff;
}
.qr-help{
    position: absolute;
    left: 232px;
    top:50px;
    opacity: 0;
    z-index: 9;
    width: 130px;
    height: 214px;
    background: url(../images/qrCode-help.png)
}
.error-tip{
    width: 100%;
    height: 15px;
}
.error{
    display: none;
    width: 100%;
    height: 15px;
    line-height: 15px;
    color: #ff3320;
    vertical-align: middle; 
}
.error i{
    display: inline-block;
    width: 0;
    height: 0;
    padding: 7px;
    float: left;
    margin-right: 5px;
    background-size: cover;
    background: url(../images/btn_errorInfo.png) no-repeat;
}
.error em{
    float: left;
}
.constr{
    width: 100%;
    height: 23px;
    line-height: 23px;
    text-align: center;
    font-size: 12px;
}
.close{
    width: 11px;
    height: 12px;
    float: right;
    margin: 9px 12px 0 0;
    cursor: pointer;
    background: url(../images/icon1.png) -148px 0;
}
.constr span{
    color: rgb(0, 125, 255);
}
.login-foot{
    width: 100%;
    line-height: 25px;
    color: #717171;
    text-align: center;
}
.login-foot a{
    color: rgb(0, 125, 255);
    text-decoration:underline;
}
.phone-verify{
    width: 328px;
    margin: 0 auto;
    height: 530px;
    display: none;
}
.back{
    width: 50px;
    height: 16px;
    color: rgb(0, 125, 255);
    font-size: 16px;
    cursor: pointer;
    line-height: 16px;
    margin: 20px 26px 46px 0;
}
.verify-item{
    width: 328px;
    height: 44px;
}
.phone-error{
    width: 328px;
    height: 15px;
}
.phone-left{
    width: 76px;
    height: 44px;
    float: left;
    line-height: 46px;
}
.phone-left i{
    color: rgb(0, 125, 255);
}
.sbor{
    display: block;
    float: left;
    width: 1px;
    height: 40px;
    background: #d9d9d9;
    margin:0 8px;
}
.phone-right,.phone-right input{
    width: 230px;
    height: 100%;
    float: left;
}
.foraccount,.forphone{
    border-bottom:1px solid #ccc;
}
.foraccount a{
    line-height: 44px;
    font-size: 14px;
    color: rgb(0, 125, 255);
}
.verify-code{
    width: 250px;
    height: 44px;
    float: left;
}
.qr-timeout{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5)
}
.qr-timeout-tip{
    width: 100%;
    height: 50px;
    padding-top: 50px;
}
.qr-timeout-tip p{
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #fff;
}
.refush{
    display:block;
    width: 56px;
    color: #fff;
    height: 26px;
    background: rgb(0, 125, 255);
    border-radius: 13px;
    margin: 10px auto;
    line-height: 26px;
    text-align: center;

}
/* 登录弹窗 */


/*li加hover阴影*/
.shop-show li{
    transition: 0.4s ;
}
.shop-show li:hover{
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
}

.hotsell li,.hot-left,.sort-section li,.temple-ul li{
    transition: 0.4s ;
    
}
.hotsell li:hover,.hot-left:hover,.sort-section li:hover,.temple-ul li:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,0.07);
    transform:translate3d(0,-2px,0);

}
/*li加hover阴影*/
