html{
    font-size: 12px;
}
html,body,ul,li,h1,h2,h3,h4,h5,h6,p,form,input,fieldset,legend,img,dt,dd,dl{
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6{
    font-size: 16px;
    font-weight: normal;
}
ul,ol,li{
    list-style: none;
}
a,u{
    text-decoration: none;
    color: #000;
}
i,em{
    font-style: normal;
}
b,strong{
    font-weight: normal;
}
img{
    display: block;
    border:0;
}
input{
    border:0;
    outline: none;
}
.clearfix{
    zoom:1;
}
.clearfix::after{
    content: ".";
    height: 0;
    clear: both;
    display: block;
    overflow:hidden;
    visibility: hidden;
}
.bd{
    width: 100%;
    height: 100%;
    background: rgb(242,242,242);
}
/*头部*/
.header{
    width: 100%;
    height: 67px;
    background: #333;
}
.header-center{
    width: 960px;
    height: 67px;
    margin:0 auto;
}
.logo,.qu,.header-title{
    float: left;
}
.logo{
    margin-top: 16px;
}
.header-title{
    font-size: 18px;
    line-height: 67px;
    color: #fff;
}
.qu{
    width: 4px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    color: #eee;
    margin:8px 20px;
}
/*头部*/
/*注册内容*/
.section-content{
    width: 960px;
    margin: 30px auto;
}
.sec-top li{
    width: 146px;
    height: 35px;
    float: left;
    
}
.sel{
    margin-right: 12px;
}
.selon{
    background: #B40707!important;

}
.seloff{
    background: #ccc;
}
.sec-top  i{
    display: block;
    float: left;
}
.sec-top p{
    float: left;
    width: 66px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    margin-left: 10px;
    color: #fff;
}
.phone-icon{
    width: 14px;
    height: 22px;
    margin:6px 0 0 26px;
    background: url(../images/reg-img01.png) 0 -18px;
}
.mail-icon{
    width: 22px;
    height: 17px;
    background: url(../images/reg-img01.png);
    margin:9px 0 0 16px;

}
.sec-right{
    float: right!important;
    line-height: 35px;
    font-size: 14px;
    color: #333;
}
.sec-right a{
    color: #007dff
}


.sec-main{
    width: 960px;
    margin:0 auto;
    background: #fff;
}
.form{
    width: 422px;
    padding: 30px 269px ;
    font-size: 14px;
}
.form-item{
    width: 420px;
    height: 42px;
    border-radius:22px;
    margin-top: 10px;
    background: #f7f7f7;
    border: 1px solid #d9d9d9;
}
.i1{
    color: rgb(197,222,248);
}
.group{
    margin-top: 30px;
}
.sub input{
    display: block;
    width: 200px;
    height: 40px;
    background: #B40707;
    margin: 30px auto;
    color: #fff;
    border-radius: 20px;
}
.it-left{
    width: 90px;
    height: 100%;
    float: left;
    padding: 0 16px;
    border-right: 1px solid #d9d9d9;
}
.it-left p{
    display: inline-block;
    text-align: justify;
    text-align-last: justify;
    line-height: 42px;
    width: 100%;
    color: #333;
}
.it-right{
    float: left;
    width: 280px;
}
.form-item input::-webkit-input-placeholder{
            color:rgb(204,204,204);
}
.form-item input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:rgb(204,204,204);
}
.form-item input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:rgb(204,204,204);
}
.form-item input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:rgb(204,204,204);
}
.form-item input{
    padding-left: 16px;
    background:#f7f7f7;
}
.form-item input:focus{
    outline: none;
}
.it-right i{
    float: right;
    margin-top: 9px;
    font-size: 20px;
    color: #007dff;
}
.country{
    float: left;
    display: block;
    font-size: 15px;
    line-height: 42px;
    padding: 0 16px;
}
.phone-number,.pwd,.repwd{
    width: 264px;
    height: 40px;
  
}
.phone-number:focus{
    outline: none;
}
.pic-ver{
    width: 164px;
    height: 40px;
    float: left;
}
.authpic{
    float: left;
    width: 100px;
    height: 40px;
}
.phone-ver{
    width: 184px;
    height: 40px;
    float: left;
}
.get-auth{
    line-height: 42px;
    color: #007dff;
}
.sec-down{
    width: 960px;
    height: 40px;
    margin:0 auto;
    border-bottom: 1px solid #d7d7d7;
}
.down-content{
    width: 960px;
    height: 48px;
    margin:30px auto 30px;
}
.down-content em{
    padding: 0 10px;
}
.down-content p,.down-content a{
    text-align: center;
    line-height: 24px;
    color: #999;
}


.error{
    display: none;
    width: 100%;
    height: 15px;
    padding-left: 16px;
    font-size: 12px;
    color: #ff3320;
}
/*注册内容*/
