body{
}
.shopcar-head{
	width: 100%;
	height: 50px;
	padding: 10px 0;
	background: #fff;
}
.shopcar-main{
	width: 1200px;
	height: 50px;
	margin:0 auto;
}
.logo{
	float: left;
	width: 94px;
	height: 50px;
}
.shop-title{
	width: 120px;
	line-height: 50px;
	font-size: 22px;
	margin-left: 26px;
	float: left;
}
.shop-progress{
	width: 425px;
	height: 50px;
	float: right;
	background: url(../images/sprites6.8c58970.png)
}
.shopcar-content{
	min-height: 500px;
	background: #f5f5f5;
	overflow: hidden;
}
.down-ce{
	margin-top: 0!important
}
.login-prompt{
	width: 1158px;
	height: 48px;
	border: 1px solid #eace85;
	background: #fffdee;
	margin:10px auto;
	margin-bottom: 20px;
	padding:0 20px;
}
.login-prompt p{
	float: left;
	line-height: 48px;
	color: #ca141d;
}
.login-prompt a{
	width: 70px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	background: #ca141d;
	color: #fff;
	text-align: center;
	margin:9px 0 0 10px;
	border-radius: 2px;
}
.shopcar-operation{
	padding-left: 40px;
	height: 40px;
	width: 1160px;
	margin: 0 auto;
	background: #fff;
	color: #a4a4a4;
	line-height: 40px;
}
.shopcar-operation .sel-input{
	margin:13px 10px 0 0;
}
.select-all{
	float: left;
	width: 150px;
}
.sel-input{
	display: inline-block;
	float: left;
	width: 14px;
	cursor: pointer;
	height: 14px;
	background: url(../images/icon-header.2e284b2.png) -18px -129px no-repeat;
}
.current-checked{
	background: url(../images/icon-header.2e284b2.png) 0 -129px no-repeat;
}
.product-name{
	float: left;

	width: 450px;
}
.shop-price,.shop-count,.shop-total,.shop-operate{
	float: left;
	width: 100px;
	text-align: center;
	margin-left: 30px;
	min-height: 14px;
}
.shop-count div{
	margin-left: 17px;
}
.iwarn{
	display: block;
	float: left;
	margin-top: 19px;
	width: 12px;
	height: 12px;
	margin-right: 5px;
	background: url(../images/icon-tips01.2080462.png) no-repeat;
}
.shopcar-operation div{
	float: left;
	height: 40px;
}
.checked{
	width: 150px;
}
.shopcar-trade{
	width: 1160px;
	margin: 10px auto;
	font-size: 14px;
	background: #fff;
	padding: 20px 0 0 40px;
	overflow: hidden;
}
.shopcar-trade .select-all{
	display: block;
	width: 30px;
	float: left;
	margin-top: 43px;
}
.small-shoppic{
	width: 100px;
	float: left;
	margin-right: 21px;
}
.shopimg-thumb{
	width: 100px;
	height: 100px;
}
.shopcar-det-area{
	margin-bottom: 20px;
	width: 1130px;
	float: left;
}
.det-area{
    font-size: 14px;
    margin-bottom: 18px;
	width: 1130px;
	height: 100px;
}
.det-area .product-name a{
	text-overflow: ellipsis;
	max-height: 42px;
    color: #3a3a3a;
    font-size: 14px;
    line-height: 21px;
}
.det-area .shop-total{
	color: #ca141d;
	font-weight: 700;
}
.det-area .shop-operate a{
	color: #a4a4a4;
}
.add-btn{
	width: 63px;
	height: 44px;
	margin:0 10px;
	float: left;
	border:1px solid #d6d6d6;
}
.add-disabled{
	cursor: not-allowed;
	color: #c4c4c4!important;
}
.number{
	display: block;
	width: 41px;
	height: 44px;
	float: left;
	line-height: 44px;
	text-align: center;
	color:#000;
	font-size: 18px;
	border-right: 1px solid #e2e2e2;
}
.add-btn p{
	width: 21px;
	float: left;
}
.num-add{
	border-bottom: 1px solid #e2e2e2;
}
.num-add,.num-sub{
	display: block;
	width: 21px;
	height: 21px;
	font-size: 16px;
	font-weight: bold;
	color: #777;
	line-height: 21px;
	text-align: center;
	float: left;
}
.det-extra{
	position: relative;
	width: 1070px;
	background: #f5f5f5;
	padding: 14px 0 14px 20px;
	display: inline-block;
}
.det-extra::before{
	content: "";
    width: 0;
    height: 0;
    display: block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #f5f5f5;
    position: absolute;
    top: -7px;
    left: 23px;
    z-index: 2;
}
.extra-img{
	display: block;
	float: left;
	margin-right: 20px;
	width: 36px;
	height: 36px;
}
.extra-img img{
	width: 36px;
	height: 36px;
}
.det-extra .small-shoppic{
	margin-right: 0;
}
.gettotal-box{
	min-width: 1200px;
	height: 60px;
	margin-bottom: 15px;
}
.unin{
	background: #fff;
	box-shadow: 0 -4px 4px 0 #ccc;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-bottom: 0;
}
.gettotal-main{
	width: 1200px;
	height: 60px;
	margin: 0 auto;
	background: #fff;
}
.gettotal-sel{
	float: left;
	width: 140px;
	height: 100%;
}
.gettotal-sel .select-all{
	margin:23px 0 0 40px;
}
.gettotal-sel .select-all{
	display: block;
	width: 14px;
	float: left;
}
.sel-it{
	display: block;
	line-height: 60px;
	margin-left: 18px;
	width: 24px;
	height: 60px;
	float: left;
	color: #3a3a3a;
}
.total-icon{
	display: block;
	width: 12px;
	height: 12px;
	position: absolute;
	top: 6px;
	left: 180px;
	background: url(../images/icon-order.6c7ea20.png) -22px -137px;
}

.price-msg{
	position: relative;
	width: 175px;
	height: 44px;
	float: right;
	margin-top: 7px;
	padding-right: 30px;
}
.price-msg p{
	text-align:right;
}
.price-msg p:first-child{
	line-height: 26px;
	font-size: 14px;
	color: #3a3a3a;
}
.price-msg p:first-child span,.price-msg p:first-child em{
	font-size: 18px;
	color: #ca151e;
	font-weight: 700;
}
.price-msg p:first-child span{
	padding: 0 8px;
}
.price-msg p:last-child{
	color: #a4a4a4;
}
.gettotal-btn{
	float: right;
}
.gettotal-btn a{
	display: block;
	width: 180px;
	height: 60px;
	background: #ca151e;
	text-align: center;
	line-height: 60px;
	font-size: 18px;
	color: #fff;
}
.final-count{
	padding: 0 5px;
	color: #ca151e;
	font-weight: 700;

}
.discount{
	color: #3a3a3a;
	padding-left:5px;
}